{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block main %}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
            <div class="card card-signin my-3 p-4">
                <div class="card-body">
                    <h1 class="card-title text-center mb-5 text-primary">Reinitialiser votre mot de passe</h1>
                        {{form_start(form)}}
                        <div class="form-label-group mt-3">
                            {{form_row(form.password , {
                                'label' : 'Nouveau mot de passe',
                                'attr' : {
                                    'placeholder' : "Nouveau mot de passe ..."
                                }
                            })}}
                        </div>

                        <div class="form-label-group mt-3">
                            {{form_row(form.confirmPassword , {
                                'label' : 'Confirmer le mot de passe',
                                'attr' : {
                                    'placeholder' : "Confirmer le mot de passe ..."
                                }
                            })}}
                        </div>

                        {{form_row(form.submit, {
                            'label' : 'Réinitialiser le mot de passe',
                            'attr' : {
                                'class' : 'btn btn btn-success btn-block mt-5'
                            }
                        })}}
                        <a href="{{path('security_logout')}}" class="btn btn btn-danger mt-5" type="submit">Annuler</a>
                        {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
{% block footer %}{% endblock %}