{% extends 'panelAdmin/home.html.twig' %}
{% block stylesheets %}
{{ parent()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
{% endblock %}
{% block admin_main %}
<h1 class="text-center text-primary border-bottom border-primary pb-4 col-md-8 mx-auto">Liste des articles</h1>
<div class="row">
    <div class="table-responsive mt-5 col-11 mx-auto">
        <table id="article_table" class="table table-hover">
            <thead>
                <th scope="col" class="text-center">id</th>
                <th scope="col" class="text-center">Titre</th>
                <th scope="col" class="text-center">Contenu</th>
                <th scope="col" class="text-center">Date de création</th>
                <th scope="col" class="text-center">Modifier</th>
                <th scope="col" class="text-center">Supprimer</th>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{article.id}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.content[:50]  }}</td>
                    <td>{{article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("G:i:s") }}</td>
                    <td><a class="btn btn-primary btn-xs" data-title="Modifier" href="{{ path('article_edit', {'id':article.id}) }}"><span
                                class="text-white fas fa-edit"></span></a></td>
                    <td><a class="btn btn-danger btn-xs fas fa-trash" href="{{ path('article_delete', {'id':article.id}) }}" data-title="Supprimer"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{parent()}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script>
    $(document).ready(function () {     
        $('#article_table').DataTable({
            "order": [
                [0, "desc"]
            ],
            "bDestroy": true,
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
    });
</script>

{% endblock %}